

<section class="section">
  <div class="row row-sm section-gallery">
    <div class="col-md-12">

      <img height="500" style="margin: 0.5px" src="../assets/Images/Family.jpg" alt="bunkslogo">
    </div>
    <div class="col-md-12">
      <img height="500" style="margin: 0.5px" src="../assets/Images/4.jpg" alt="bunkslogo">
    </div>
  </div>
</section>


<div class="container m-t-xs">


  <div class="row">

    <h1 class="type-h1">
      Academics are important. Most people would agree because it is the foundation
      we build before zeroing in to different careers and interest.
    </h1>

    <h1 class="type-h3 color-type-accent">Our goal is to spark interest in our children to want to learn and create an environment for this to happen</h1>

    <div class="col-md-6">

      <h5>We offer </h5>

      <button type="button" class="close" data-dismiss="side-navigation" aria-label="close">
        <i class="glyph glyph-cancel"></i>
      </button>
      <ul role="navigation" id="sidenav-small" class="nav side-navigation side-navigation-small theme-default">


        <li class="side-nav-c2">
          <a data-toggle="collapse" data-parent="#sidenav-small" href="#the-strokes" aria-expanded="false" aria-controls="#the-strokes">Montessori</a>
          <ul class="nav collapse" id="the-strokes">
            <li><a href="#sidenav-small">Lavington School</a></li>
            <li><a href="#sidenav-small">Karen School</a></li>

          </ul>
        </li>

        <li class="active side-nav-c2">
          <a data-toggle="collapse" data-parent="#sidenav-small" href="#Ace" aria-expanded="true" aria-controls="#Ace">Accelerated Christian Education</a>
          <ul class="nav collapse in" id="Ace">

            <li><a href="#sidenav-small" class="active">Karen School - Lower Primary School</a></li>
            <li><p class="type-p5 label label-warning">Currently not offered at Lavington</p></li>
          </ul>
        </li>



      </ul>
    </div>
    <div class="col-md-18">


<pre>

<code>
When your child enrolls at Bunks & Biddles School, it is the beginning of a rich and varied journey.
One that will see joy, inspiration, victories and challenges. These elements all combine, every moment
of every day, to lay the groundwork for a rewarding future. It is education beyond learning, a vibrant
fusion of many different experiences while viewing mistakes as an opportunity to learn and this embraces
all the formative elements of a young life.
 
I welcome you, your child and your family to discover the true advantage of the Bunks experience. You
will see that we are truly preparing our students for what’s ahead as we immerse them in an education
that extends far beyond the limits of traditional academic learning while every child is exposed to the
biblical principles which is what will take the child through life and its challenges. 




</code>
</pre>

    </div>


  </div>


</div>
<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>


<div class="tabs ">

  <ul class=" nav nav-tabs text-center" role="tablist">
    <li role="presentation" class=" active"><a href="#montessorri" aria-controls="montessorri" role="tab" data-toggle="tab">Montessorri </a></li>
    <li role="presentation" class=""><a href="#ace" aria-controls="ace" role="tab" data-toggle="tab">ACE</a></li>



  </ul>
</div>

<div class="tab-content ">

  <div role="tabpanel" class=" tab-pane active" id="montessorri">
    <div class="jumbotron theme-light">
      <div class="container">
        <div class="row">
          <div class="col-md-24 ">
            <div class="type-h3">
              Montessorri
            </div>
            <div class="type-sh3">
              The Environment
            </div>
            <p>The Montessori learning environment is much different than the traditional model. Instead of information passing from the teacher to the student, the teacher is skilled in putting the child in touch with the environment, and helping him learn to make intelligent choices and to carry out research in a prepared environment. The teacher then protects the student's concentration from interruption. This fosters a love of lifetime learning in the student.</p>
            <div class="btn-group">

              <button class="btn btn-secondary" href="http://www.montessori.edu">Read more</button>
            </div>
          </div>




        </div>
      </div>
    </div>
    </div>
  <div role="tabpanel" class="tab-pane" id="ace">
    <div class="jumbotron theme-light">
      <div class="container">
        <div class="row">


          <div class="col-md-24 ">
            <div class="type-h3">
              ACE
            </div>
            <div class="type-sh3">
              Accelerated Christian Education is a Bible-based K-12 program.
            </div>
            <p>Accelerated Christian Education was founded in 1970 by Donald and Esther Howard in Garland, Texas. The ministry began solely upon God’s leading to meet the need for an individualized, Biblically-based education for children. Their desire was to assist parents, pastors, and school staff in the Lord’s command of Deuteronomy 6:7. And thou shalt teach them diligently unto thy children, and shalt talk to them when thou sittest in thine house, and when thou walkest by the way, and when thou liest down, and when thou risest up</p>
            <div class="btn-group">

              <button class="btn btn-secondary" href="http://www.montessori.edu">Read more</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  </div>



<app-schools-component></app-schools-component>




