

<div class="tabs color-5">

  <ul class=" nav nav-tabs text-center" role="tablist">
    <li role="presentation" class=" active"><a href="#karen" aria-controls="karen" role="tab" data-toggle="tab">Karen </a></li>
    <li role="presentation" class=""><a href="#lavington" aria-controls="lavington" role="tab" data-toggle="tab">Lavington</a></li>



  </ul>
</div>

<div class="tab-content ">

  <div role="tabpanel" class=" tab-pane active" id="karen">
    <div class="container">

      <p class="text-center">Both ACE and Montessorri are offered at Karen </p>
      <hr />
      <div class="row" id="captions">
        <div class="col-xs-24">
          <div class="row">
            <div class="col-xs-24">

              <h1> Classes</h1>
              <div class="col-xs-24 col-md-12 m-t-xxs">
                <div class="type-t1 inline-block">Palms</div>
                <div class="type-t2 inline-block m-l-xs">Ndovu</div>
                <div class="type-t3 inline-block m-l-xs">Kifaru</div>
                <div class="type-t4 inline-block m-l-xs">Simba</div>
                <div class="type-t5 inline-block m-l-xs">Chui</div>
                <div class="type-t6 inline-block m-l-xs">Crèche</div>
            
              </div>


            </div>
          </div>

          <div class="row m-t-sm">
            <div class="col-md-12">
              <div class="table-responsive">
               
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Class</th>
                      <th>Description</th>
                  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Day Care</td>
                      <td>This is the amazing new Gadget Alpha.</td>
                     
                    </tr>
                    <tr>
                      <td>Kindergarten</td>
                      <td>Also available is the Gadget Bravo which provides B.</td>
                     
                    </tr>
                    <tr>
                      <td>Primary</td>
                      <td>This is the lorem ipsumist Gadget Charlie.</td>
                    
                    </tr>
                    <tr>
                      <td>Secondary</td>
                      <td>Also available is the Gadget Bravo which provides B.</td>
                     
                    </tr>
               
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-24">
     
                  <p class="type-p4">
                    We observe the children are ready to take on the world.  “I CAN DO IT MYSELF” is a common phrase heard      repeatedly. The world of books opens out and the childrens’ personalities blossom.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

    </div>

  </div>
  <div role="tabpanel" class="tab-pane" id="lavington">

    <div class="container">

      <p class="text-center">Only Montessorri is offered at Lavington </p>
      <hr />
      <div class="row" id="captions">
        <div class="col-xs-24">
          <div class="row">
            <div class="col-xs-24">
           
                <h1> Classes</h1>
                <div class="col-xs-24 col-md-12 m-t-xxs">
                  <div class="type-t1 inline-block">Ndovu</div>
                  <div class="type-t2 inline-block m-l-xs">Kifaru</div>
                  <div class="type-t3 inline-block m-l-xs">Simba</div>
                  <div class="type-t4 inline-block m-l-xs">Chui</div>
                  <div class="type-t5 inline-block m-l-xs"> Crèche</div>
                 
           

              </div>
            
            </div>
          </div>

          <div class="row m-t-sm">
            <div class="col-md-12">
              <div class="table-responsive">

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Class</th>
                      <th>Description</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Day Care</td>
                      <td>This is the amazing new Gadget Alpha.</td>

                    </tr>
                    <tr>
                      <td>Kindergarten</td>
                      <td>Also available is the Gadget Bravo which provides B.</td>

                    </tr>
                 
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-24">
                 
                 
                 <p class="type-p4">
                   Montessori students learn through hands on experiences, experiments and research.  They become actively engaged in their work rather than passively waiting to be spoon fed.  Students develop self-discipline and an internal sense of purpose and motivation.  After graduation from Montessori education, these values serve them well in higher learning and their lives as adults.  Incorporating the ACE curriculum, students are prepared join ACE curriculum school for      primary or any other curriculum.  Our students have joined schools offering 8-4-4 and IGCSE curriculum.
                 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

    </div>
  </div>

</div>
