<div class="mainHeader">

  <nav class="navbar navbar-default">




    <div class="navbar-global theme-dark">
     
        <div class="col-md-6" style="background: #858484;">
          <h1 class="type-h2 color-alt">Matokeo</h1>
        </div>
          <div class="col-md-18 " style="background: #ffffff;"></div>







          </div>

      

  </nav>

</div>

<div class="example3">

  <nav class="navbar navbar-default">




    <div class="navbar-global fixedHeader theme-dark">
      <div class="container bunksmenu">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyph glyph-hamburger"></i>
        </button>







        <div class="collapse  navbar-collapse " id="bs-example-navbar-collapse-2">


          <ul class="nav navbar-nav ">

        

            <li [routerLinkActive]='["/about"]' class="dropdown">
              <a [routerLink]='["/about"]' class="dropdown-toggle"
                 data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyph glyph-admin"></i> About
              </a>

            </li>



            <li class="dropdown" [routerLinkActive]='["/admissions"]'>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admissions<i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="animated bounce dropdown-menu " role="menu">

                <li><a [routerLink]='["/admissions"]'>Welcome</a></li>
                <li class="divider"></li>
                <li><a [routerLink]='["/visit"]'>Visit</a></li>
                <li><a [routerLink]='["/inquire"]'>Inquire</a></li>

                <!--<li><a href="typography.html#sizes">Apply</a></li>
                <li class="divider"></li>

                <li><a href="typography.html#headings">Tution/Financial Aid</a></li>-->
              </ul>
            </li>

            <li class="dropdown">
              <a href="layout.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Academics<i class="glyph glyph-chevron-down-2"></i></a>
              <ul class="dropdown-menu animated bounce" role="menu">

                <li class="divider"></li>
                <li><a [routerLink]='["/academics"]'>Curriculum</a></li>
                <li><a [routerLink]='["/schools"]'>Schools</a></li>
                <li><a [routerLink]='["/classes"]'>Classes</a></li>
                <li> <a [routerLink]='["/library"]'>Library</a></li>
                <li> <a [routerLink]='["/reports"]'>Reports</a></li>

              </ul>
            </li>



          </ul>





          <div class="social">
            <a class="current" href="index.html"> <img class="" height="18" src="../assets/Images/twitter.png" alt="twitter"></a>
            <a href="index2.html"> <img class="" height="18" src="../assets/Images/facebook.png" alt="fb"></a>
            <a href="index2.html"> <p class="label label-info">Sign in</p> </a>
          </div>












        </div>

      </div>
    </div>
  </nav>

</div>

