


  <section class="section">
    <div class="row row-sm section-gallery">
      <div class="col-md-12">

        <img height="500" style="margin: 0.5px" src="../assets/Images/5.jpg" alt="bunkslogo">
      </div>
      <div class="col-md-12">
        <img height="500" style="margin: 0.5px"  src="../assets/Images/3.jpg" alt="bunkslogo">
      </div>
    </div>
  </section>








<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1">We understand...</h1>
    
    <div class="col-md-10">
      <h1 class="type-h3 color-type-accent">That's why we invite you to learn about our school</h1>
      <p class="type-p1">
        Our Bible centered educational experience integrates opportunities to explore a variety of
        interests while developing a strong Christian and academic foundation.
        Each child enjoys a balanced experience that sets him or her on a path to life-long learning.
        <br /><br />
        We invite you, your child, and your family to visit our campus in Karen and Lavington so you can
        get to know us and discover the true advantage of the Bunks and Biddles experience.
        <br /><br />
        The best way to get to know us is to take a tour. Schedule a visit or call us at 0722 344 127 today.
        We look forward to meeting you!
      </p>
    </div>
    <div class="col-md-14">
      <pre>
<code class="">
Bunks and Biddles schools was established in 1994 as Bunks and Biddles Kindergarten.

In 2004, Bunks and Biddles Primary School was opened offering the A.C.E curriculum
(Accelerated Christian Education).
Our Schools are sheltered on the serene Karen and Lavington environment.

Karen School is conveniently located off I-421 and is in close proximity to most area
landmarks.

8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University

Lavington School is conveniently located off I-421 and is in close proximity to most area
landmarks.

8 miles from Reynolda Village
9 miles from Thruway Shopping Center
10 miles from Wake Forest University
						</code></pre>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>


<div class="jumbotron theme-light">
  <div class="container">
    <div class="row">

      <div class="col-md-24 text-center">


        <h3>
          At BBS, we know that students succeed in life when they are fully prepared
          for the opportunities and challenges ahead.
          That’s why Bunks education provides a balanced experience that focuses on academics
          that enrich and interest that engage.
          With small classes, invested teachers and a collaborative community, your child benefits from a supportive and inspiring
          educational experience. At Bunks and Biddles school, learning is constant time is the variable.
        </h3>
     



      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">

    <div id="headOfSchool" class="row">
      <h1 class="type-h1">For Today and Tomorrow</h1>
      <div class="col-md-12">
        <pre>
        <code class="">
When your child enrolls at Bunks & Biddles School, it is the beginning of
a rich and varied journey. One that will see joy, inspiration, victories
and challenges. These elements all combine, every moment of every day, to
lay the groundwork for a rewarding future. It is education beyond learning,
a vibrant fusion of many different experiences while viewing mistakes as
an opportunity to learn and this embraces all the formative elements of a
young life.

I welcome you, your child and your family to discover the true advantage of
the Bunks experience. You will see that we are truly preparing our students
for what’s ahead as we immerse them in an education that extends far beyond
the limits of traditional academic learning while every child is exposed to
the biblical principles which is what will take the child through life and
its challenges.

          </code>
Sincerely,
   
<code>
Victoria Adembesa
Head of School
Bunks & Biddles School
</code>
</pre>
      </div>
      <div class="col-md-12">
        <img height="500" style="margin: 0.5px" src="../assets/Images/HeadOfSchool.jpg" alt="bunkslogo">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1></h1>
  </div>
</div>

<div class="jumbotron theme-light">
  <div class="container">
    <div class="row">

      <div class="col-md-24 text-center">
        <h1>About Ms Victoria</h1>

        <h3>
          At BBS, we know that students succeed in life when they are fully prepared
          for the opportunities and challenges ahead.
          That’s why Bunks education provides a balanced experience that focuses on academics
          that enrich and interest that engage.
          With small classes, invested teachers and a collaborative community, your child benefits from a supportive and inspiring
          educational experience. At Bunks and Biddles school, learning is constant time is the variable.
        </h3>
        



      </div>
    </div>
  </div>
</div>

<div class="container m-t-xs">
  <div class="row">
    <h1 class="type-h1 text-center">Board of Trustees</h1>
    <div class="col-md-10">
     
      <p class="type-p3">
        Our board is truly dedicated to the future of Bunks &amp; Biddles Schools.
        <br /><br />
        The individuals who volunteer their time to serve on the board provide diverse
        skills and perspectives. They share a deep personal commitment to the school’s
        mission and long-term financial health.
        <br /><br />
        The individuals who volunteer their time to serve on the board provide diverse
        skills and perspectives. They share a deep personal commitment to the school’s
        mission and long-term financial health.
        <br /><br />
        The strength of the board lies in identifying issues and challenges that will
        impact the school while creating and implementing strategies to provide thoughtful
        solutions.
        <br /><br />
        Each board member is honored to serve our school community and enhance the Bunks
        experience.
      </p>
    </div>
    <div class="col-md-14">
      <pre>
<span class="win-type-subheader">Trustees</span>
<code>
Architect           Antony Thimango
Accountant          Robert Ngotho
Lawyer              David Ireri

Spiritual 
Leader              Rev. Judy Mbugua

Marketing 
and Advertising     Catherine Njoroge

<u>Directors</u>	
Mr.  Victor Kibe
Mrs. Dorcas Macharia
Mrs. Grace Kibe
						</code>
</pre>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1></h1>
   
  </div>
</div>


<div class="jumbotron theme-default">
  <div class="container">
    <div class="row ">
      <div class="wrap col-sm-12">

        <h1 class="type-h2 text-center">BunksFacts </h1>
        <div class="factBox color-11">
          <div class="text animated bounce">15</div>
          <p class="type-p1 textParagraph">Average Kindergarten class size</p>
        </div>
        <div class="factBox color-5">
          <div class="text animated pulse">80%</div>
          <p class="win-type-subtitle textParagraph">Teachers with graduate degrees</p>
        </div>
        <div class="factBox color-2">
          <div class="text animated rubberBand">10</div>
          <p class="win-type-subtitle textParagraph">Average years of teaching experience</p>
        </div>

      </div>
      <div class="wrap col-sm-12">


        <h1 class="win-type-header">Opportunities </h1>

        <div class="factBox color-3">
          <div class="text animated wobble">120</div>
          <p class="win-type-subtitle textParagraph">Student Convention club</p>
        </div>
        <div class="factBox flipbox color-4">
          <div class="text animated flip">5</div>
          <p class="win-type-subtitle textParagraph">Average Yearly plays, concerts and musical performance</p>
        </div>
        <div class="factBox hingebox color-6">
          <p class="text animated hinge">100+</p>
          <p class="win-type-subtitle textParagraph">Community service hours by end of primary school</p>
        </div>

      </div>

      <div class="wrap col-sm-12">

       

          <h1 class="win-type-header">Our Classes </h1>

          <div class="factBox color-10">
            <div class="text animated wobble">K-6</div>
            <p class="win-type-subtitle textParagraph">Language, arts, math, social studies, science, word building, music, drama,</p>
          </div>
          <div class="factBox flipbox color-8">
            <div class="text animated flip">7-12</div>
            <p class="win-type-subtitle textParagraph">Elective in ICCE, entrepreneurship, LAMDA, and much more…</p>
          </div>
       

      </div>
      <div class="wrap col-sm-12">



      </div>

    </div>
    </div>

  </div>










