
<div class="jumbotron theme-dark" style="background-color: #1A1A1A;  ">



  <div class="tab-content ">
    <div role="tabpanel" class=" tab-pane active" id="newsdesk">
      <div class="row section-gallery">
        <h2 class="type-h2 text-center">Trending Events at Bunks and Biddles Schools</h2>
   
        <div class="col-md-12">
          <section class="section theme-dark" id="responsive-table">
            <header class=" row">
              <h6 class="section-title col-xs-24 text-center">
                Events
              </h6>
            </header>
          </section>
          <div class="col-md-12">
          
              <div class="card">
                <div class="text bunksgrey">

                  <h2 class="color-type-secondary "><i class="glyph glyph-calendar-mirrored color-type-accent "></i> Calender </h2>
                  <div data-toggle="modal" href="#changelog" class="fab">&#43;</div>
                </div>





              </div>
           
            <div class="card">
              <div class="text">



                <a>  <h6>Chess competition.</h6></a>
                <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>

              </div>
              <div class="container">
                <div class="image">
                  <img src="../assets/Images/7.jpg" width="100%">
                </div>
                <p class="color-type-secondary0">DATE</p>
                <br />
              </div>




            </div>
          </div>
          <div class="col-md-12 ">



            <div class="card">

              <div class="text">



                <a>  <h6>Chess competition.</h6></a>
                <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>

              </div>
              <div class="container">
                <div class="image">
                  <img src="../assets/Images/8.jpg" width="100%">
                </div>
              </div>
              <div class="container">

                <p class="color-type-secondary0">DATE</p>
                <br />
              </div>







            </div>


            <div class="card color-10">
              <div class="text">
        
                <div class="container">
                  <div class="row">


                    <div class="col-md-24 ">


                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class=" active"><a href="#downloads" aria-controls="downloads" role="tab" data-toggle="tab"><p class="type-sh6">General </p></a></li>
                        <li role="presentation" class=""><a href="#lavingtonevents" aria-controls="lavingtonevents" role="tab" data-toggle="tab"><p class="type-sh6">Lavington </p></a></li>
                        <li role="presentation" class=" active"><a href="#karenevents" aria-controls="karenevents" role="tab" data-toggle="tab"><p class="type-sh6">Karen </p></a></li>


                      </ul>
                      <div class="tab-content ">
                        <div role="tabpanel" class="tab-pane" id="downloads">
                          Pra lá , Mussum ipsum cacilds
                          <a> vidis litro abertis. Consetis adipiscings elitis. ,</a>
                        </div>
                        <div role="tabpanel" class=" tab-pane active" id="karenevents">
                          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá ,</p>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="lavingtonevents">

                          <p> vidis litro abertis. Consetis adipiscings elitis. Pra lá , Mussum ipsum cacilds,</p>
                        </div>

                      </div>
                    </div>



                  </div>
                </div>


              </div>





            </div>







          </div>
   
        </div>
        <div class="col-md-12">

          <section class="section theme-dark" id="responsive-table">
            <header class=" row">
              <h6 class="section-title col-xs-24">
                News
              </h6>
            </header>

            <div class="row">
              <div class="col-xs-24">


                <ol class="list-items">
                  <li class="list-items-row">
                    <div class="row section-gallery">
                    
                      <div class="col-md-12">
                        <div class="card">
                          <div class="text">



                            <a>  <h6>School Fees Balances.</h6></a>
                            <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>
                            <div class="fab">&#43;</div>
                          </div>





                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="card">
                          <div class="text">



                            <a>  <h6>Swimming Lesson Alert.</h6></a>
                            <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>

                          </div>





                        </div>
                      </div>

                    </div>
                  </li>

                  <li class="list-items-row">
                    <div class="row section-gallery">

                      <div class="col-md-12">
                        <div class="card">
                          <div class="text">



                            <a>  <h6>Students of the Month.</h6></a>
                            <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>
                           
                          </div>





                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="card">
                          <div class="text">



                            <a>  <h6>Awards.</h6></a>
                            <p class="color-type-secondary">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>

                          </div>





                        </div>
                      </div>

                    </div>
                  </li>
                </ol>


              </div>
            </div>
          </section>



        </div>
      </div>

    </div>


  </div>


  <div class="container ">
    <div class="row">



    </div>
  </div>









</div>








